{
  "presets": [
    ["@babel/preset-env", {
        "targets": {
            "node": "5.0.0",
        },
        "include": ["@babel/plugin-transform-template-literals", "@babel/plugin-transform-block-scoping"]
    }]
  ]
}
